<!-- blog/templates/voter_analytics/base.html -->
{% load static %}
<html>
    <head>
        <title>Marathon Analytics</title>
        <link rel="stylesheet" href="{% static 'styles-voter_analytics.css' %}">
    </head>
    <body>
        <header>
            <h1>Voter Analytics</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'graphs' %}">Graphs</a></li>

                </ul>
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>