<!-- templates/ultistats/home.html -->
{% extends 'ultistats/base.html' %}
{% load static %}

{% block content %}

<main class="home-container">
    <!-- Welcome Section -->
    <section class="welcome-section">
        <div class="frisbee-title-wrapper">
            <!-- Left frisbee -->
            <img src="{% static 'img/frisbee.png' %}" alt="Frisbee Left" class="frisbee-fly-in-left">
    
            <!-- Title -->
            <h1>Welcome to UltiStats</h1>
    
            <!-- Right frisbee -->
            <img src="{% static 'img/frisbee.png' %}" alt="Frisbee Right" class="frisbee-fly-in-right">
        </div>
        <p>Explore stats and records of teams, players, and games.</p>
    </section>


    <!-- Stats and Headlines -->
    <div class="stats-headlines-container">
        <!-- Quick Highlights -->
        <section class="quick-highlights fade-in-section">
            <h2>Quick Highlights</h2>
            <ul>
                <li>Total Teams: {{ total_teams }}</li>
                <li>Total Players: {{ total_players }}</li>
                <li>Total Games: {{ total_games }}</li>
            </ul>
        </section>

        <!-- Headlines -->
        <section class="headlines fade-in-section">
            <h2>Latest College News</h2>
            <ul>
                {% for item in college_news %}
                <li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
                {% empty %}
                    <li>No news available at the moment.</li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <!-- Videos Section -->
    <section class="videos-section fade-in-section">
        <h2>Videos to Watch</h2>
        <div class="videos-grid">
            <div class="video-card">
                <iframe src="https://www.youtube.com/embed/XdDu3qGvAEg" allowfullscreen></iframe>
                <p>College National 2024 Men's Semifinal: Colorado vs Brown</p>
            </div>
            <div class="video-card">
                <iframe src="https://www.youtube.com/embed/oSTEesjcAAI" allowfullscreen></iframe>
                <p>College National 2024 Men's Semifinal: North Carolina vs Cal Poly SLO</p>
            </div>
            <div class="video-card">
                <iframe src="https://www.youtube.com/embed/yMgAjpsP5IA" allowfullscreen></iframe>
                <p>College National 2024 Men's Final: Brown vs Cal Poly SLO</p>
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block scripts %}
<script>
  const faders = document.querySelectorAll('.fade-in-section');

  const appearOnScroll = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (!entry.isIntersecting) return;
      entry.target.classList.add('visible');
      observer.unobserve(entry.target);
    });
  }, {
    threshold: 0.1
  });

  faders.forEach(section => {
    appearOnScroll.observe(section);
  });
</script>
{% endblock %}
