<!-- templates/ultistats/sign_up.html -->

{% extends 'ultistats/base.html' %}

{% block content %}
<main class="signup-container">
    <h1>Create an Account</h1>
    <p>Fill out the form below to create a new account.</p>
    
    <form method="post" class="signup-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-signup">Sign Up</button>
    </form>
    
    <div class="signup-login-link">
        Already have an account? <a href="{% url 'login' %}">Login here</a>.
    </div>
</main>
{% endblock %}