<!-- mini_fb/templates/mini_fb/base.html 
 A template with common HTML code that will be re-used by 
 all of the other templates.
 -->

 {% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static 'styles-mini_fb.css' %}">
    </head>

    <body>
        <header>
            <h1>Mini Facebook</h1>
            <nav class="nav-links">
                
                {% block extra_nav_links %}
                <!-- Block for additional nav links on specific pages -->
                {% endblock %}
                <!-- request is the HTTP request object
                request.user is the Django user associated with this request
                -->
                {% if request.user.is_authenticated %}
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Logout" style="background: none; border: none; color: inherit; cursor: pointer; padding: 0; font: inherit;">
                </form>
            
                    {{request.user}} is logged in

                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
        </header>

        <main>
         
            {% block content %}
        <!-- fill in this section with specific page detail -->
        {% endblock %}
        </main>


    </body>
</html>