<!-- mini_fb/templates/mini_fb/base.html 
 A template with common HTML code that will be re-used by 
 all of the other templates.
 -->

 {% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static 'styles-mini_fb.css' %}">
    </head>

    <body>
        <header>
            <h1>Mini Facebook</h1>
            <nav class="nav-links">
                
                {% block extra_nav_links %}
                <!-- Block for additional nav links on specific pages -->
                {% endblock %}
                
            </nav>
        </header>

        <main>
            {% block content %}
        <!-- fill in this section with specific page detail -->
        {% endblock %}
        </main>


    </body>
</html>