{% extends 'mini_fb/base.html' %}
{% comment %} mini_fb/templates/mini_fb/create_status_form.html {% endcomment %}

{% block content %}

<div class="status-container">

    <h2>Post a status message for {{profile.first_name}} {{profile.last_name}}</h2>

    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        <!-- display form as a table -->
        {{form.as_table}}

        <tr>
            <td></td>
            <td>    
                <input type="file" name = "files" multiple /> <br>
                <button type="submit" class="btn create" name="Create Status">Create Status </button>
        </form>

                <!-- NOTE: the cancel button is its own form!!!! -->
                <form action="{% url 'create_status' profile.pk%}">
                    <button type="submit" class="btn cancel" name="Cancel">Cancel</button>
                </form>
            </td>
        </tr>
    </table>

</div>
{% endblock %}
