{% extends 'mini_fb/base.html' %}
{% comment %}mini_fb/templates/mini_fb/friend_suggestions.html{% endcomment %}


{% block content %}
<div class = "friend-suggestions-container">
    <a href="{% url 'profile' profile.pk %}" class="form-button">← Back to Profile</a>

    <h2 style="text-align: left;">People {{ profile.first_name }} {{ profile.last_name }} may know:</h2>

    <div class="friends-list">
        <ul>
        {% for suggestion in profile.get_friend_suggestions %}
            
            <li>
                <a href="{% url 'add_friend' profile.pk suggestion.pk %}" class="friend-form-button">Add Friend</a>
            </a>
                <a href="{% url 'profile' suggestion.pk %}" style="text-decoration:none;">
                    {% if suggestion.image_url %}
                    <img src="{{suggestion.image_url}}" alt="Profile Picture" class="profile-picture">
                    {% else %}
                        No image
                    {% endif %}
                <h3>{{suggestion.first_name}} {{suggestion.last_name}}</h3>
                
            </li>
            
            {% empty %}
            <p>No friend suggestions yet.</p>
        {% endfor %}
        </ul>    
    </div>
</div>
{% endblock %}
