{% extends 'mini_fb/base.html' %}
{% comment %}mini_fb/templates/mini_fb/show_all.html{% endcomment %}

<!-- Navigation Bar -->
{% block extra_nav_links %}
    <a href="{% url 'show_all_profiles' %}">All Profiles</a> 
    <a href="{% url 'create_profile' %}">Create Profile</a>
{% comment %} {% if request.user.is_authenticated %}
<a href="{% url 'profile' profile.pk %}">Show Profile Page</a>
<a href="{% url 'news_feed' profile.pk %}">News Feed</a> 
{% endif %} {% endcomment %}
    
{% endblock %}

{% comment %} Body {% endcomment %}
{% block content %}
  <main class="all-profile-container">
    <!-- loop to display each Article -->
    {% for p in profiles %}
      <div class="profile-card">
        <a href="{% url 'profile' p.pk %}"><img src="{{ p.image_url }}" alt="{{ p.image_url }}" class="all-profile-picture" style="text-decoration:none;" /></a>
        <h2 class="all-profile-name"><a href="{% url 'profile' p.pk %}" style="text-decoration:none;">{{ p.first_name }} {{ p.last_name }}</a></h2>
        <p class="all-profile-info">{{ p.email_address }}</p>
        <p class="all-profile-info">{{ p.city }}</p>
      </div>
    {% endfor %}
  </main>
{% endblock %}
