{% extends 'mini_fb/base.html' %}
{% comment %}mini_fb/templates/mini_fb/show_all.html{% endcomment %}

<!-- display a context variable called articles -->

<!-- {{articles}} -->

{% block content %}

  <main class="profile-container">
    <!-- loop to display each Article -->
    {% for p in profiles %}
      <div class="profile-card">
        <img src="{{ p.image_url }}" alt="{{ p.image_url }}" class="profile-picture" />
        <h2 class="profile-name">{{ p.first_name }} {{ p.last_name }}</h2>
        <p class="profile-info">{{ p.email_address }}</p>
        <p class="profile-info">{{ p.city }}</p>
      </div>
    {% endfor %}
  </main>
{% endblock %}
