/* Start base.html css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}


header {
    background-color: #1877f2;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

main {
    padding-top: 5px;
    width: 80%;
    margin: 100px auto 0;
}

h1 {
    margin: 0;
}

.nav-links {
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #ccc;
}

/* End base.html css */

/* Start show_all_profiles.html css*/

.all-profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.profile-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}

.all-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.all-profile-name {
    margin: 0 0 10px;
    font-size: 1.2rem;
}

.all-profile-info {
    margin: 5px 0;
    color: #65676b;
}

/*  End show_all_profiles.html css */

/*  Start show_profile_page.html css */

.profile-container {
    max-width: 1000px;
    margin: 75px auto;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
}
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.profile-picture {
    width: 220px;
    height: 220px;
    object-fit: cover;  
    border-radius: 50%;
    border: 6px solid #1877f2;
    margin-right: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.profile-picture:hover {
    transform: scale(1.05);
}
.profile-info {
    flex-grow: 1;
}
.profile-name {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1877f2;
}
.profile-details {
    color: #65676b;
    font-size: 20px;
    line-height: 1.6;
}
.status-updates {
    margin-top: 40px;
}
.status-update {
    background-color: #f0f2f5;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.status-update:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.status-time {
    color: #65676b;
    font-size: 16px;
    margin-top: 10px;
    font-style: italic;
}

.friends-list {
    background-color: #f0f2f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .friends-list h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
  }
  .friends-list h3 {
    margin-bottom: 10px;
    text-align: center;
  }

  .friends-list ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .friends-list li {
    padding-top: 20px;
    width: 200px;
    background-color: #ADD8E6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .friends-list img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



/*  End show_profile_page.html css */

/*  Start create_status_form.html css */

.status-container {
    margin: 75px auto;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 750px;
}

.status-container h2 {
    color: #1877f2;
    font-size: 40px;
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.create {
    background-color: #1877f2;
    color: white;
}

.cancel {
    background-color: #e4e6eb;
}

.btn:hover {
    opacity: 0.9;
}

/*  End create_status_form.html css */

/*  Start create_profile_form.html css */

.form-wrapper {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space between the forms */
    margin: 20px; /* Optional margin for spacing */
}

.form-container {
    margin: 75px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.form-container h2 {
    color: #1877f2;
    font-size: 40px;
    margin-bottom: 10px;
}

.form-container p {
    color: #606770;
    font-size: 20px;
}


/*  End create_profile_form.html css */

.status-messages {
    margin-top: 20px;
    padding: 15px;
    margin-bottom: 40px; 
    background-color: #f9f9f9;
    border-radius: 8px;
}

.update {
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-color:  #ADD8E6;
    font-weight: bold;
    color: #4b0082;
}


.friend-suggestions-container {
    max-width: 1000px;
    margin: 75px auto;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.friend-form-button {
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-bottom: 5px;
    justify-content: center;
    text-decoration: none;
    width: 100%; 
}

.form-button {
    background-color: #ADD8E6;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    width: 175px; 

}

.form-button:hover {
    background-color: #7272c4;
}


/* news-feed */
.news-feed-container {
    max-width: 1000px;
    margin: 75px auto;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.news-feed li{
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

.news-post-header {
    display: flex;
    align-items: center; /* Align vertically if needed */
    gap: 20px; /* Space between items */
}

    .news-post-details {
    display: flex;
    flex-direction: column;
    }
  .news-feed h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
  }
  .news-feed span {
    margin-bottom: 10px;
    text-align: center;
  }

  .news-profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #9086d2;
    object-fit: cover;
}

  .news-feed ul {
    gap: 20px;
    list-style: none;
  }


  .news-post-image {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 5px;
    
  }

  /* Start login.html css*/
  .login-container {
    margin: 75px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 750px;
  }

  /* End login.html css*/

  /* Start login.html css*/
  .logout-container {
    margin: 75px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 750px;
  }

  /* End login.html css*/