<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}
<section class="biography">
    <div class="container2">
        <header>
            <h1>Albert Einstein</h1>
        </header>
        <div class="content">
            <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Einstein_1921_by_F_Schmutzer_-_restoration.jpg" alt="Albert Einsten">
            </div>
            <div class="about">
                <h2>About</h2>
                <p>Albert Einstein (1879-1955) was a renowned theoretical physicist who developed the theory of relativity, one of the two pillars of modern physics. His work is also known for its influence on the philosophy of science.</p> 
                <p>Einstein is best known to the general public for his mass–energy equivalence formula E = mc². He received the Nobel Prize in Physics for his services to Theoretical Physics and his discovery of the law of the photoelectric effect.</p> 
                <p>Einstein published more than 300 scientific papers and over 150 non-scientific works. His intellectual achievements and originality have made the word "Einstein" synonymous with "genius".</p>
                <p class="creator">Created by: Zi Jun Jiang</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}
    

