<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}
<section class="biography">
    <div class="container2">
        <header>
            <h1>{{name}}</h1>
        </header>
        <div class="content">
            <div class="image">
                <img src={{aboutImg}} alt="{{name}}">
            </div>
            <div class="about">
                <h2>About</h2>
                {{pElems}}
                <p class="creator">Created by: Zi Jun Jiang</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}
    

