<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famous Scientists</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <header>
        <div class="container">
            <h1 class="logo">Famous Scientists</h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">Show All</a></li>
                    <li><a href="#services">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
</body>
</html>

