<!-- quotes/templates/quotes/show_all.html -->

{% extends 'quotes/base.html' %}

{% block content %}
<section class="biography">
    <div class="container2">
        <header>
            <h1>Quote 1</h1>
        </header>
        <div class="content">
            <div class="image">
                <img src={{img.0}} alt="Albert Enstein 1">
            </div>
            <div class="about">
                <p>"{{quote.0}}"</p>
                <cite class="creator">-Albert Enstein</cite>
            </div>
        </div>
    </div>
</section>
<section class="biography">
    <div class="container2">
        <header>
            <h1>Quote 2</h1>
        </header>
        <div class="content">
            <div class="image">
                <img src={{img.1}} alt="Albert Enstein 2">
            </div>
            <div class="about">
                <p>"{{quote.1}}"</p>
                <cite class="creator">-Albert Enstein</cite>
            </div>
        </div>
    </div>
</section>
<section class="biography">
    <div class="container2">
        <header>
            <h1>Quote 3</h1>
        </header>
        <div class="content">
            <div class="image">
                <img src={{img.2}} alt="Albert Enstein 3">
            </div>
            <div class="about">
                <p>"{{quote.2}}"</p>
                <cite class="creator">-Albert Enstein</cite>
            </div>
        </div>
    </div>
</section>


{% endblock %}